In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline

In [2]:
%cd C:\\Users\\sebsa\\Documents\\Centrale Paris\\3A\\OEN\\Projet Synthèse\\data

C:\Users\sebsa\Documents\Centrale Paris\3A\OEN\Projet Synthèse\data

In [3]:
def filter_dataset(dataset):
    
    solar = dataset[dataset.energy_source_level_2.isin(['Solar'])]
    if 'comment' in dataset.columns:
        solar = solar[solar.comment.isnull()]
    solar.reset_index(inplace=True)
    solar.drop('index', axis=1, inplace=True)
        
    return solar

In [4]:
CH = pd.read_csv('installed_capacity/ch_de_dk_fr_pl/renewable_power_plants_CH.csv')
DE = pd.read_csv('installed_capacity/ch_de_dk_fr_pl/renewable_power_plants_DE.csv')
DK = pd.read_csv('installed_capacity/ch_de_dk_fr_pl/renewable_power_plants_DK.csv')
FR = pd.read_csv('installed_capacity/ch_de_dk_fr_pl/renewable_power_plants_FR.csv')
PL = pd.read_csv('installed_capacity/ch_de_dk_fr_pl/renewable_power_plants_PL.csv')

C:\Anaconda\lib\site-packages\IPython\core\interactiveshell.py:2717: DtypeWarning: Columns (0,1,9,16) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

## Create filtered solar dataset

In [5]:
CH_solar_filtered = filter_dataset(CH)
DE_solar_filtered = filter_dataset(DE)
DK_solar_filtered = filter_dataset(DK)
FR_solar_filtered = filter_dataset(FR)
PL_solar_filtered = filter_dataset(PL)

C:\Anaconda\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys

In [8]:
CH_solar_filtered.to_csv('installed_capacity/Solar/CH_solar_filtered.csv', sep=';')
DE_solar_filtered.to_csv('installed_capacity/Solar/DE_solar_filtered.csv', sep=';')
DK_solar_filtered.to_csv('installed_capacity/Solar/DK_solar_filtered.csv', sep=';')
FR_solar_filtered.to_csv('installed_capacity/Solar/FR_solar_filtered.csv', sep=';')
PL_solar_filtered.to_csv('installed_capacity/Solar/PL_solar_filtered.csv', sep=';')

## Electrical capacity verification

In [9]:
DE.columns

Index(['commissioning_date', 'decommissioning_date', 'energy_source_level_1',
       'energy_source_level_2', 'energy_source_level_3', 'technology',
       'electrical_capacity', 'thermal_capacity', 'voltage_level', 'tso',
       'dso', 'dso_id', 'eeg_id', 'bnetza_id', 'federal_state', 'postcode',
       'municipality_code', 'municipality', 'address', 'address_number',
       'utm_zone', 'utm_east', 'utm_north', 'lat', 'lon', 'data_source',
       'comment'],
      dtype='object')

In [10]:
DE.energy_source_level_2.unique()

array(['Hydro', 'Bioenergy', 'Wind', 'Solar', 'Other fossil fuels',
       'Geothermal', 'Speicher', nan], dtype=object)

In [11]:
DE_solar = DE[DE.energy_source_level_2.isin(['Solar'])]
DE_solar.head()

,commissioning_date,decommissioning_date,energy_source_level_1,energy_source_level_2,energy_source_level_3,technology,electrical_capacity,thermal_capacity,voltage_level,tso,...,municipality,address,address_number,utm_zone,utm_east,utm_north,lat,lon,data_source,comment
1855,1984-05-01,NaN,Renewable energy,Solar,NaN,Photovoltaics,0.00140,NaN,Low voltage,TransnetBW,...,NaN,NaN,NaN,NaN,NaN,NaN,48.52776,9.04806,TransnetBW,NaN
1893,1985-06-01,NaN,Renewable energy,Solar,NaN,Photovoltaics,0.00237,NaN,Low voltage,TransnetBW,...,NaN,NaN,NaN,NaN,NaN,NaN,48.52776,9.04806,TransnetBW,NaN
1897,1985-07-01,NaN,Renewable energy,Solar,NaN,Photovoltaics,0.00120,NaN,Low voltage,TenneT,...,NaN,NaN,NaN,NaN,NaN,NaN,51.24681,9.49312,TenneT,NaN
1928,1986-05-01,NaN,Renewable energy,Solar,NaN,Photovoltaics,0.00380,NaN,Low voltage,TransnetBW,...,NaN,NaN,NaN,NaN,NaN,NaN,48.52776,9.04806,TransnetBW,NaN
1929,1986-06-01,NaN,Renewable energy,Solar,NaN,Photovoltaics,0.00310,NaN,Low voltage,TransnetBW,...,NaN,NaN,NaN,NaN,NaN,NaN,48.52776,9.04806,TransnetBW,NaN

In [12]:
DE_solar.electrical_capacity.sum()

42687.018119919674

In [13]:
FR_solar = FR[FR.energy_source_level_2.isin(['Solar'])]
FR_solar.head()

,municipality_code,municipality,energy_source_level_1,energy_source_level_2,energy_source_level_3,technology,electrical_capacity,number_of_installations,lat,lon,data_source,comment
0,01001,L'Abergement-Clémenciat,Renewable energy,Solar,NaN,Photovoltaics,0.03426,10,46.15397,4.92576,Ministry for the Ecological and Inclusive Tran...,NaN
1,01004,Ambérieu-en-Bugey,Renewable energy,Solar,NaN,Photovoltaics,0.29599,71,45.96075,5.37218,Ministry for the Ecological and Inclusive Tran...,NaN
2,01005,Ambérieux-en-Dombes,Renewable energy,Solar,NaN,Photovoltaics,0.18634,18,45.99599,4.91205,Ministry for the Ecological and Inclusive Tran...,NaN
3,01006,Ambléon,Renewable energy,Solar,NaN,Photovoltaics,0.00300,<3,45.74995,5.59477,Ministry for the Ecological and Inclusive Tran...,NaN
4,01007,Ambronay,Renewable energy,Solar,NaN,Photovoltaics,0.09726,33,46.00579,5.35739,Ministry for the Ecological and Inclusive Tran...,NaN

In [14]:
FR_solar.electrical_capacity.sum()

6515.34765999997

In [15]:
CH_solar = CH[CH.energy_source_level_2.isin(['Solar'])]
CH_solar.electrical_capacity.sum()

301.59296999999975

In [16]:
DK_solar = DK[DK.energy_source_level_2.isin(['Solar'])]
DK_solar.electrical_capacity.sum()

792.845799999344

In [17]:
PL_solar = PL[PL.energy_source_level_2.isin(['Solar'])]
PL_solar.electrical_capacity.sum()

198.19599999999997

In [18]:
DE_solar[DE_solar.comment.isnull()].electrical_capacity.sum()

40273.52059993175