In [4]:
import pandapower as pp

In [17]:
net = pp.create_empty_network('network_test')

bus = pp.create_bus(net, vn_kv=110., name='Bus 1')
bus = pp.create_bus(net, vn_kv=110., name='Bus 2')
bus = pp.create_bus(net, vn_kv=110., name='Bus 3')

pp.create_ext_grid(net, bus=0, name="Grid Connection")
pp.create_load(net, bus=1, p_kw=100, q_kvar=50, name="Load")
pp.create_gen(net, bus=2, p_kw=-200)

# trafo = pp.create_transformer(net, hv_bus=bus1, lv_bus=bus2, std_type="0.4 MVA 20/0.4 kV", name="Trafo")
line4 = pp.create_line(net, from_bus=0, to_bus=1, length_km=0.1, std_type="N2XS(FL)2Y 1x300 RM/35 64/110 kV", name="Line")
line = pp.create_line(net, from_bus=1, to_bus=2, length_km=0.1, std_type="N2XS(FL)2Y 1x300 RM/35 64/110 kV", name="Line")
line2 = pp.create_line(net, from_bus=2, to_bus=0, length_km=0.1, std_type="N2XS(FL)2Y 1x300 RM/35 64/110 kV", name="Line")

In [18]:
net

This pandapower network includes the following parameter tables:
   - bus (3 elements)
   - load (1 elements)
   - gen (1 elements)
   - ext_grid (1 elements)
   - line (3 elements)

In [19]:
net.bus

    name  vn_kv type  zone  in_service
0  Bus 1  110.0    b  None        True
1  Bus 2  110.0    b  None        True
2  Bus 3  110.0    b  None        True

In [20]:
net.line

,name,std_type,from_bus,to_bus,length_km,r_ohm_per_km,x_ohm_per_km,c_nf_per_km,max_i_ka,df,parallel,type,in_service
0,Line,N2XS(FL)2Y 1x300 RM/35 64/110 kV,0,1,0.1,0.06,0.144,144.0,0.588,1.0,1,cs,True
1,Line,N2XS(FL)2Y 1x300 RM/35 64/110 kV,1,2,0.1,0.06,0.144,144.0,0.588,1.0,1,cs,True
2,Line,N2XS(FL)2Y 1x300 RM/35 64/110 kV,2,0,0.1,0.06,0.144,144.0,0.588,1.0,1,cs,True

In [21]:
net.load

,name,bus,p_kw,q_kvar,const_z_percent,const_i_percent,sn_kva,scaling,in_service,type
0,Load,1,100.0,50.0,0.0,0.0,NaN,1.0,True,None

In [22]:
pp.runpp(net)

In [23]:
net.bus

    name  vn_kv type  zone  in_service
0  Bus 1  110.0    b  None        True
1  Bus 2  110.0    b  None        True
2  Bus 3  110.0    b  None        True

In [24]:
net.res_bus

   vm_pu     va_degree        p_kw      q_kvar
0    1.0  0.000000e+00   99.999989   -5.391479
1    1.0  5.245766e-07  100.000000   50.000000
2    1.0  8.002468e-06 -200.000000  119.608641

In [25]:
net.res_line

,p_from_kw,q_from_kvar,p_to_kw,q_to_kvar,pl_kw,ql_kvar,i_from_ka,i_to_ka,i_ka,loading_percent
0,0.000004,-8.905774,-0.000004,-45.833335,1.868006e-07,-54.739109,0.000047,0.000241,0.000241,0.040912
1,-99.999996,-4.166665,100.000001,-50.572432,5.224378e-06,-54.739097,0.000525,0.000588,0.000588,0.100028
2,99.999999,-69.036213,-99.999993,14.297117,5.800543e-06,-54.739096,0.000638,0.000530,0.000638,0.108468