# Création d'une table globale de puissance dispo temporelle

In [1]:
import pandas as pd

In [4]:
plants = pd.read_csv('./database_plants.csv', sep = ';', encoding = "ISO-8859-1")

In [5]:
plants

  Wind farm name Total nominal power         Latitude        Longitude
0        AinaÅ¾i              600 kW    57Â° 52' 7.1"   24Â° 22' 30.9"
1        Arsenal              850 kW      56Â° 21' 9"      21Â° 6' 17"
2    Baltnorvent            2,000 kW   56Â° 58' 12.2"   21Â° 40' 41.1"
3     BK Energia            2,000 kW   56Â° 31' 49.8"       21Â° 6' 0"
4   Enercom Plus            2,700 kW   57Â° 23' 56.2"    21Â° 51' 4.9"
5         Impakt            1,000 kW   57Â° 14' 58.2"   21Â° 28' 12.1"
6        Liepaja            2,000 kW   56Â° 42' 17.5"    21Â° 5' 32.5"
7           Pope           20,700 kW   57Â° 23' 56.2"    21Â° 51' 4.9"
8         Seteri              850 kW      56Â° 21' 9"      21Â° 6' 17"
9     Veju parks           19,800 kW   56Â° 32' 16.7"     21Â° 14' 31"

In [16]:
plant1 = pd.read_csv('./ninja_pv_Pope.csv', header=[1,2])

In [17]:
plant1

                  time        local_time    output
                   UTC      Europe/Paris        kW
0     2016-01-01 00:00  2016-01-01 01:00     0.000
1     2016-01-01 01:00  2016-01-01 02:00     0.000
2     2016-01-01 02:00  2016-01-01 03:00     0.000
3     2016-01-01 03:00  2016-01-01 04:00     0.000
4     2016-01-01 04:00  2016-01-01 05:00     0.000
5     2016-01-01 05:00  2016-01-01 06:00     0.000
6     2016-01-01 06:00  2016-01-01 07:00     0.000
7     2016-01-01 07:00  2016-01-01 08:00     0.000
8     2016-01-01 08:00  2016-01-01 09:00   209.498
9     2016-01-01 09:00  2016-01-01 10:00   606.501
10    2016-01-01 10:00  2016-01-01 11:00  1077.800
11    2016-01-01 11:00  2016-01-01 12:00  1507.580
12    2016-01-01 12:00  2016-01-01 13:00  1518.027
13    2016-01-01 13:00  2016-01-01 14:00   899.316
14    2016-01-01 14:00  2016-01-01 15:00   452.686
15    2016-01-01 15:00  2016-01-01 16:00   107.341
16    2016-01-01 16:00  2016-01-01 17:00     0.000
17    2016-01-01 17:00  2016-01-01 18:00     0.000
18    2016-01-01 18:00  2016-01-01 19:00     0.000
19    2016-01-01 19:00  2016-01-01 20:00     0.000
20    2016-01-01 20:00  2016-01-01 21:00     0.000
21    2016-01-01 21:00  2016-01-01 22:00     0.000
22    2016-01-01 22:00  2016-01-01 23:00     0.000
23    2016-01-01 23:00  2016-01-02 00:00     0.000
24    2016-01-02 00:00  2016-01-02 01:00     0.000
25    2016-01-02 01:00  2016-01-02 02:00     0.000
26    2016-01-02 02:00  2016-01-02 03:00     0.000
27    2016-01-02 03:00  2016-01-02 04:00     0.000
28    2016-01-02 04:00  2016-01-02 05:00     0.000
29    2016-01-02 05:00  2016-01-02 06:00     0.000
...                ...               ...       ...
8754  2016-12-30 18:00  2016-12-30 19:00     0.000
8755  2016-12-30 19:00  2016-12-30 20:00     0.000
8756  2016-12-30 20:00  2016-12-30 21:00     0.000
8757  2016-12-30 21:00  2016-12-30 22:00     0.000
8758  2016-12-30 22:00  2016-12-30 23:00     0.000
8759  2016-12-30 23:00  2016-12-31 00:00     0.000
8760  2016-12-31 00:00  2016-12-31 01:00     0.000
8761  2016-12-31 01:00  2016-12-31 02:00     0.000
8762  2016-12-31 02:00  2016-12-31 03:00     0.000
8763  2016-12-31 03:00  2016-12-31 04:00     0.000
8764  2016-12-31 04:00  2016-12-31 05:00     0.000
8765  2016-12-31 05:00  2016-12-31 06:00     0.000
8766  2016-12-31 06:00  2016-12-31 07:00     0.000
8767  2016-12-31 07:00  2016-12-31 08:00    19.274
8768  2016-12-31 08:00  2016-12-31 09:00   985.183
8769  2016-12-31 09:00  2016-12-31 10:00  3088.530
8770  2016-12-31 10:00  2016-12-31 11:00  4715.118
8771  2016-12-31 11:00  2016-12-31 12:00  5655.901
8772  2016-12-31 12:00  2016-12-31 13:00  5565.420
8773  2016-12-31 13:00  2016-12-31 14:00  4813.654
8774  2016-12-31 14:00  2016-12-31 15:00  3188.986
8775  2016-12-31 15:00  2016-12-31 16:00   884.882
8776  2016-12-31 16:00  2016-12-31 17:00     0.000
8777  2016-12-31 17:00  2016-12-31 18:00     0.000
8778  2016-12-31 18:00  2016-12-31 19:00     0.000
8779  2016-12-31 19:00  2016-12-31 20:00     0.000
8780  2016-12-31 20:00  2016-12-31 21:00     0.000
8781  2016-12-31 21:00  2016-12-31 22:00     0.000
8782  2016-12-31 22:00  2016-12-31 23:00     0.000
8783  2016-12-31 23:00  2017-01-01 00:00     0.000

[8784 rows x 3 columns]

In [21]:
prod = pd.DataFrame(index = plants['Wind farm name',columns = range(1,8784))

SyntaxError: invalid syntax (<ipython-input-21-7f90ed97db5d>, line 1)